// bootstrap import
@import '~bootstrap/scss/bootstrap';

// fonsource import
@import '~@fontsource/cormorant-garamond/300.css';
@import '~@fontsource/cormorant-garamond/400.css';
@import '~@fontsource/cormorant-garamond/500.css';
@import '~@fontsource/cormorant-garamond/600.css';
@import '~@fontsource/cormorant-garamond/700.css';

// import variables file
@import './variables.scss';




* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: "Cormorant Garamond", serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
}